<h1>Akinator</h1>
<p>Challenge me to see if I can find who you think!</p>

<%= date_today = Time.now.strftime("%d/%m/%y") %>

<%= link_to("Mon blog", pages_blog_path, method: :get ) %>

<p> Penses à quelqu'un de la classe </p>

<%= link_to("Commencer à jouer !", games_path, method: :post, class: "btn btn-warning")%>